@tailwind base;
@tailwind components;
@tailwind utilities;
.center-text{
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 16px;
}
.calc-height{
    height: calc(100vh - 144px);
    overflow: auto;
}