@tailwind base;
@tailwind components;
@tailwind utilities;
.center-text{
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 16px;
}
.calc-height{
    height: calc(100vh - 136px);
    overflow: auto;
}
[type='checkbox']:focus, [type='radio']:focus,[type='email']:focus,[type='password']:focus,[type='text']:focus,input:where(:not([type])):focus{
    box-shadow: none!important;
}
[type='checkbox']{
    border-radius: 50px;
}
:disabled{
    opacity: 0.5;
}